<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Classroom</title>
    <link rel="stylesheet" href="/view/Create Classroom/Cc.css">
    
</head>
<body>
    <h1>Create a New Classroom</h1>
    <form action="/classroom" method="post">
      <label for="class-name">Class Name:</label>
      <input type="text" id="className" name="className"><br><br>
      <label for="class-description">Class Description:</label>
      <textarea id="class-description" name="classDescription"></textarea><br><br>
      <button type="submit">Create Classroom</button>
      <h5><a href="/view/Home/Home.html">Home</a></h5>
      <hidden id="" va></hidden>
    </form> 

</body>
</html>