<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Classroom</title>
    <link rel="stylesheet" href="/view/Create Classroom/Cc.css">
    <script type="text/javascript" async="" src="D:\gg\ProjectWeb\HTML\Create Classroom\test.js"></script> 
</head>
<body>
    <h1>Create a New Classroom</h1>
    <form>
      <label for="className">Class Name:</label>
      <input type="text" id="className" name="className"><br><br>
      <label for="classDescription">Class Description:</label>
      <textarea id="classDescription" name="classDescription"></textarea><br><br>
      <button type="submit" onclick="generateClassCode()" >Create Classroom</button>
      <h5><a href="/view/Home/Home.html">Home</a></h5>
    </form>

</body>
</html>